body {font-family: Arial;background:#f4f4f4;}
.container {width:400px;margin:auto;padding:20px;background:white;border-radius:10px;margin-top:40px;box-shadow:0 0 10px gray;}
input, textarea, select {width:100%;padding:8px;margin-bottom:12px;}
button {background:#2b7cff;color:white;padding:10px;width:100%;border:none;border-radius:5px;}
